[submodule "GL"]
	path = GL
	url = https://github.com/prodeo-group-dev/fish-fish-gl-engine.git
[submodule "SOP"]
	path = SOP
	url = https://github.com/prodeo-group-dev/fish-sales-order-processing.git
[submodule "IM"]
	path = IM
	url = https://github.com/prodeo-group-dev/fish-inventory-management.git
[submodule "POP"]
	path = POP
	url = https://github.com/prodeo-group-dev/fish-purchase-order-processing.git
[submodule "HR"]
	path = HR
	url = https://github.com/prodeo-group-dev/fish-hr-payroll.git
[submodule "common"]
	path = common
	url = https://github.com/prodeo-group-dev/fish-common.git
[submodule "WEB"]
	path = WEB
	url = https://github.com/prodeo-group-dev/fish-gl-web.git
[submodule "EA"]
	path = EA
	url = https://github.com/prodeo-group-dev/fish-enterprise-administration.git
