[submodule "GL"]
	path = GL
	url = https://github.com/prodeo-group-dev/fish-fish-gl-engine.git
[submodule "SOP"]
	path = SOP
	url = https://github.com/prodeo-group-dev/fish-sales-order-processing.git
[submodule "IM"]
	path = IM
	url = https://github.com/prodeo-group-dev/fish-inventory-management.git
[submodule "POP"]
	path = POP
	url = https://github.com/prodeo-group-dev/fish-purchase-order-processing.git
